.portfolio_container {
  height: 68%;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-white);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.portfolio_card_div {
  position: relative;
}

.portfolio_card_div img {
  width: 100%;
  object-fit: fill;
  background-color: var(--color-);
  padding: 1rem;
  height: 24rem;
  transition: var(--transition);
  transition: 0.5s;
  opacity: 1;
  backface-visibility: hidden;
}

.portfolio_card_div:hover .content-overlay {
  opacity: 1;
}

.portfolio_card_details {
  position: absolute;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.portfolio_card_div:hover .portfolio_card_details {
  opacity: 1;
  top: 50%;
  left: 50%;
}

.content-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 92%;
  width: 94.5%;
  left: 2.7%;
  top: 4%;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.fadeIn-top {
  top: 20%;
}
.portfolio_card_details > h1 {
  color: var(--color-primary);
}
.portfolio_card_details > h1 > span {
  color: var(--color-light);
  font-size: 1.8rem;
  font-weight: 200;
}
.portfolio_links {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio_link_icons {
  font-size: 4rem;
  border: 1px solid var(--color-primary);
  margin: 0 1rem;
  color: var(--color-primary);
  padding: 1rem;
  transition: var(--transition);
  border-radius: 5px 20px 5px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.portfolio_link_icons:hover {
  background-color: rgba(0, 0, 0, 1);
  border-radius: 20px 5px 20px;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ========================*/

@media screen and (max-width: 1024px) {
  .portfolio_card_div {
    pointer-events: none;
  }
  .portfolio_card_div img {
    height: 28rem;
  }
  .content-overlay {
    display: none;
  }
  .portfolio_card_details {
    position: relative;
    width: 95%;
    margin: auto;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ========================*/

@media screen and (max-width: 600px) {
  .portfolio_container {
    height: 75%;
  }
  .portfolio_card_div img {
    padding: 0rem;
    height: 15rem;
  }
  .content-overlay {
    display: none;
  }
  .portfolio_card_details {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  }

  .portfolio_card_details > h1 {
    font-size: 1.8rem;
    text-align: center;
  }
  .portfolio_card_details > h1 > span {
    font-size: 1.3rem;
  }
  .portfolio_card_details > p {
    height: 11rem;
  }
  .portfolio_links {
    padding: 0.5rem;
  }
}
