.about__container {
  text-align: center;
  height: 75%;
  position: relative;
  display: flex;
  align-items: center;
}
.about__container > div {
  height: 100%;
  width: 50%;
}
.about_container_left {
  text-align: left;
}
.about_container_left > h1:first-child {
  max-width: fit-content;
  color: var(--color-primary);
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 0.5;
}
.about_container_left > h1:last-child {
  max-width: fit-content;
  color: var(--color-white);
  font-size: 2.3rem;
  font-weight: 800;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.about__card {
  background: var(--color-bg-varient);
  border-radius: 1rem;
  padding: 2rem;
  transition: var(--transition);
  text-align: center;
  border: 1px solid;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.9rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0rem 2.6rem;
  color: var(--color-light);
}

.about_container_right {
  text-align: right;
}
.about_container_right > div {
  height: 100%;
}
.about_container_right > div:first-child > h1:first-child {
  color: var(--color-primary);
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 0.5;
}
.details_table {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
table {
  width: 60%;
}
tr > td:first-child {
  color: var(--color-primary);
  font-weight: 600;
  text-align: left;
}
.interests_cards {
  display: flex;
  margin: 1rem 0;
  justify-content: flex-end;
}
.interest_card {
  display: flex;
  width: 6rem;
  height: 6rem;
  background-color: rgba(83, 83, 83, 0.459);
  margin-left: 1rem;
  text-align: center;
  flex-direction: column;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: var(--transition);
}
.interest_card:hover {
  transition: var(--transition);
  border-color: var(--color-primary);
  /* border-color: var(--color-primary); */
}
.interest_icons {
  color: var(--color-primary);
  font-size: 1.5rem;
  line-height: 0;
  margin-bottom: 0.5rem;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: flex-end;
  align-items: center;
}
/*======================== MEDIA QUERIES (MEDIUM DEVICES) ========================*/

@media screen and (max-width: 1024px) {
  .about__container {
    height: 90%;
    flex-direction: column;
  }
  .about__container > div {
    width: 100%;
  }
  .about_container_left > h1:first-child {
    font-size: 1.7rem;
  }
  .about_container_left > h1:last-child {
    font-size: 2rem;
  }
  .about_container_right {
    text-align: left;
    /* border: 1px solid; */
  }
  .about_container_right > div:first-child > h1:first-child {
    font-size: 1.7rem;
  }
  .about_content {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .details_table {
    align-items: flex-start;
  }
  .interests_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    gap: 2rem;
  }
  .interest_card {
    display: flex;
    width: 7rem;
    height: 7rem;
    margin-left: 0rem;
  }
  .interest_icons {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .cta {
    gap: 2.2rem;
    justify-content: center;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ========================*/

@media screen and (max-width: 600px) {
}
