@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  /* --color-primary: #dabc34;
  --color-bg: #2e3232; */
  --color-white: #ffff;
  --color-light: rgba(255, 255, 255, 0.6);
  --container-width-lg: 85%;
  --container-width-md: 88%;
  --container-width-sm: 90%;
  --transition: all 300ms ease;
}

[data-theme-color="yellow"] {
  --color-primary: #dabc34;
  --color-bg: #2e3232;
}

[data-theme-color="pink"] {
  --color-primary: #e52165;
  --color-bg: #0c1037;
}
[data-theme-color="green"] {
  --color-primary: #89da90;
  --color-bg: #1e204e;
}
[data-theme-color="blue"] {
  --color-primary: #14b3a8;
  --color-bg: #1d0805;
}
[data-theme-color="orange"] {
  --color-primary: #8e55cf;
  --color-bg: #fff;
  --color-white: rgb(44, 19, 19);
  --color-light: rgb(82, 59, 59);
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
.fullpage-section {
  background-color: var(--color-bg);
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--color-light);
  line-height: 1.7;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}
/*======================== GENERAL STYLES ========================*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  height: 100vh;
}
section > h2,
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/*======================== MEDIA QUERIES (MEDIUM DEVICES) ========================*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}

/*======================== MEDIA QUERIES (SMALL DEVICES) ========================*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 1rem;
  }
}
